!!!
%html
  %head.main
    %title.main RailsFoodOrdering
    %meta{:charset => "utf-8"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.main
    .container_main
      %header.navbar.navbar-fixed-top.navbar-inverse
        = link_to "wolf's food", root_path, id: "logo"
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Help",'#'
            %li= link_to "Log in", '#'
      - flash.each do |message_type, message|
        %div{:class => "alert alert-#{message_type}"}= message
      .center.jumbotron
        %h1.main Welcome to the Wolf's Food
        %h2.main
          This is the home page for the Wolf's Food.
        %br
        = link_to "Sign up now!", signup_path, class: 'btn btn-primary'
